h1{
 color: orange;
 text-align: center;
 font-family: fantasy;
}
p{
  text-align: justify;
}
.img-rounded{
  width: 400px;
  height: 200px;
  border-radius: 500px;
  padding: 10px;
}
.img{
  width: 260px;
  height: 140px;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 10px;
}
.img-ret{
  width: 200px;
  height: 350px;
  padding-right: 10px;
  padding-top: 10px;
}
